<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if res %}
        <h1>{{ a }} {{ sign }} {{ b }} = {{ res }}</h1>
    {% else %}
    <form method="post" action="/get_data_from_form/">
        {% csrf_token %}
        <p>Введите первое число</p>
        <input type="number" name="a"><br><br>
        <select name="sign">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select><br>
        <p>Введите второе число</p>
        <input type="number" name="b"><br><br>
        <input type="submit" value="Вычислить">
    </form>
    {% endif %}
</body>
</html>