[run]
# Указываем, какие директории/файлы учитывать (только исходный код)
source = 
    m3_6_lab
    m3_10_lab
    

# Исключаем файлы тестов из итогового отчета
omit =
    */test_*
    */__init__.py
    # */tests/*
    # */unit_test/*

[report]
