{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="{% static '/css/catalog.css' %}">
</head>
<body>

            <div class="product-image">
                <a href="/card?id={{ item.id }}">
                    <img width="300" src="{% static '/images/' %}{{ item.img }}" alt="Название товара">
                </a>
            </div>
            <div class="product-info">
                <h3 class="product-title">{{ item.title }}</h3>
                <p class="product-description">{{ item.info }}</p>
                <div class="product-footer">
                    <span class="product-price">{{ item.price }}</span>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>

</body>
</html>